<% layout("/layouts/boilerplate") %>
<body>
  <h2 class="col-6 offset-3">Login</h2>
  <div class="row mt-4 mb-3">
    <div class="col-6 offset-3">
      <form method="POST" action="/login" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Login</button>
      </form>
      <p class="card-text mt-3">
        Don't have an account:
        <a href="/signup" style="display: inline" class="nav-link mt-1"
          >Sign Up</a
        >
      </p>
    </div>
  </div>
</body>
